	*{
		padding: 0;
		margin: 0;
		font-family: "Microsoft Sans Serif";
	}
	body {
		background: #000;
		text-align: center;
	}
	#canvas {
		background: url("../img/game_bg.jpg") center  no-repeat;
		background-size: 100% 100%;
		display: none;
	}
	#begin_Page{
		margin: 0 auto;
		background: url("../img/begin_bg.png") center no-repeat;
		background-size: 100% 100%;
		overflow: hidden;
		position: relative;
	}
	.TipsHolder{
		position: absolute;
		width: 20%;
		left: 40%;
		top:30%;
		background: #ffffff;
		border-radius: 5px;
		z-index: 1000;
		display: none;
	}
	.TipsHolder .error_tips{
		font-size: 25px;
		text-align: center;
		color: #333333;
		text-shadow: 1px 1px 1px #2d445e;
	}
	.TipsHolder .closeTip{
		cursor: pointer;
		float: right;
		font-size: 25px;
	}
	.index_Btn{
		width: 75%;
		line-height: 2.8em;
		font-size: 27px;
		text-shadow: 1px 1px #333;
		color: #fff;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 1%;
		background: url('../img/begin_btn.png') center no-repeat;
		background-size: 100% 100%;
		cursor: pointer;
	}
	.block{
		width: 40%;
		margin: 0 auto;
		display: none;
	}
	.login_block p span{
		float: left;
		display: inline-block;
		font-size: 30px;
		text-shadow: 1px 1px 1px #333;
		color: #ffffff;
	}
	.changePd{
		position: absolute;
		width: 40%;
		border-radius: 6px;
		left: 30%;
		top:35%;
		background: #ffffff;
		border: 4px solid #fa9e00;
		font-size: 20px;
		display: none;
	}
	.changePd p{
		width: 62%;
		display: inline-block;
		margin: 0 auto;
		margin-top: 5.5%;
		overflow: hidden;
	}
	.btnBox input{
		float: none !important;
		background: #fa9e00;
		color: #ffffff;
		width: 30%;
		margin-top: 4%;
	}
	.changePd span{
		float: left;
	}
	.changePd input{
		float: right;
		padding: 5px;
		border: none;
		border-radius: 3px;
		font-size: 18px;
		box-shadow: inset 1px 1px 5px #ccc;
	}
	.rank_list{
		position: absolute;
		width: 70%;
		top:10%;
		list-style: none;
		background: #fa9e00;
		left: 15%;
		color: #ffffff;
		font-size: 20px;
		border-radius: 5px;
		display: none;
	}
	.rank_title{
		width: 50%;
		display: block;
		margin: 10px auto;
	}
	.close_btn{
		float: right;
		font-size: 50px;
		margin-left: -50px;
		margin-top: -10px;
		cursor: pointer;
	}
	.rank_list li{
		border-radius: 5px;
		line-height: 50px;
		overflow: hidden;
	}
	.rank_list li span{
		display: inline-block;
		width: 33%;
		float: left;
		text-align: center;
	}
	.reg_block p span{
		float: left;
		display: inline-block;
		font-size: 30px;
		text-shadow: 1px 1px 1px #333;
		color: #ffffff;
	}
	.login_block p {
		overflow: hidden;
		height: auto;
		margin-bottom: 10px;
		line-height: 58px;
	}
	.reg_block p {
		overflow: hidden;
		height: auto;
		margin-bottom: 10px;
		line-height: 58px;
	}
	.login_block input{
		width: 65%;
		float: right;
		padding: 3%;
		font-size: 26px;
		border-radius: 5px;
		border: none !important;
		background: #ffffff;
	}
	.reg_block input{
		width: 65%;
		float: right;
		padding: 3%;
		font-size: 26px;
		border-radius: 5px;
		border: none !important;
		background: #ffffff;
	}
	.reg_block input{
		font-size: 20px;
	}
	.login_block input:-webkit-autofill {
		-webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;//关于解决输入框背景颜色
        -webkit-text-fill-color: rgba(255,255,255,1)!important;//关于接输入框文字颜色
	}
	.reg_block input:-webkit-autofill {
		-webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;//关于解决输入框背景颜色
        -webkit-text-fill-color: rgba(255,255,255,1)!important;//关于接输入框文字颜色
	}
	.title{
		display: block;
		width: 50%;
		margin: 6% auto;
	}
	.tips{
		text-align: left;
		width: 55%;
		font-size: 22px;
		margin: 0 auto;
		margin-bottom: 1.2%;
		line-height: 30px;
		color: #ffffff;
		text-shadow: 1px 1px #333;
	}
	.tips>p{
		font-size: 24px;
		margin-bottom: 20px;
	}