{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>捕鱼达人</title>
    <link rel="stylesheet" href={% static 'css/style.css' %}>
    <script>
        post_url = "{% url 'useraction' %}";
        score_url = "{% url 'score_url' %}";
    </script>
    <script src={% static 'js/jquery-2.1.4.min.js' %}></script>
    <script src={% static 'js/game/styleset.js' %}></script>
    <script src={% static 'js/game/commons.js' %}></script>
    <script src={% static 'js/game/CreateFish.js' %}></script>
    <script src={% static 'js/game/CreateBullet.js' %}></script>
    <script src={% static 'js/game/CreateCannon.js' %}></script>
    <script src={% static 'js/game/CreateCoin.js' %}></script>
    <script src={% static 'js/game/controller.js' %}></script>
</head>
<body>
<input type="hidden" class="music_num" value="{% static 'music/2.wav' %}">
<input type="hidden" class="music_num" value="{% static 'music/3.wav' %}">
<input type="hidden" class="music_num" value="{% static 'music/1.wav' %}">
    {% if logined_user %}
            <input type="hidden" class="is_logined" value="{{ logined_user }}">
    {% endif %}
    <div class="TipsHolder">
        <span class="closeTip">✘</span>
        <p class="error_tips">注册成功！</p>
    </div>
	<div id="begin_Page">
		<img src={% static 'img/title.png' %} alt="" class="title">
        <div class="login_block block" style="display: none;">
            <p class="lineP">
                <span>用户名：</span>
                <input type="text" id="username" placeholder="请输入用户名">
            </p>
            <p style="margin-bottom: 10%" class="lineP">
                <span>密码：</span>
                <input type="password" id="password" placeholder="请输入密码"><br>
            </p>
            <div id="login_btn" class="index_Btn" style="margin-bottom: 5%">
			    登录
		    </div>
            <div id="goreg_btn" class="index_Btn">
			    注册
		    </div>
        </div>
        <div class="logined_block block">
            <div class="changePd">
                <p>
                    <span>原密码：</span><input type="password" placeholder="请输入原密码" id="OldPassword">
                </p>
                <p>
                    <span>新密码：</span><input type="password" placeholder="请输入新密码" id="NewPassword">
                </p>
                <p>
                    <span>确认密码：</span><input type="password" placeholder="请确认新密码" id="ConfirmPassword">
                </p>
                <div class="btnBox">
                    <input type="button" class="ApplyNewPd" value="提交">
                    <input type="button" class="CancelApply" value="取消">
                </div>
            </div>
            <ul class="rank_list">
                <div class="close_btn">
                    ✘
                </div>
                <img src="{% static 'img/rank_title.png' %}" class="rank_title">
                <li>
                    <span class="rank">
                        排名
                    </span>
                    <span class="nickname">
                        昵称
                    </span>
                    <span class="score">
                        游戏得分
                    </span>
                </li>
                {% for obj in rank_list %}
                    <li>
                        <span class="rank">
                            {{ obj.rank }}
                        </span>
                        <span class="nickname">
                            {{ obj.nickname }}
                        </span>
                        <span class="score">
                            {{ obj.score }}
                        </span>
                </li>
                {% endfor %}
            </ul>
            <div id="rank_btn" class="index_Btn">
			    游戏榜单
		    </div>
		    <div id="begin_Btn" class="index_Btn">
			    开&nbsp;&nbsp;始&nbsp;&nbsp;游&nbsp;&nbsp;戏
		    </div>
            <div id="changePd_btn" class="index_Btn">
			    修改密码
		    </div>
            <div id="logout_btn" class="index_Btn">
			    注销
		    </div>
        </div>
        <div class="reg_block block">
            <p class="lineP">
                <span>用户名：</span>
                <input type="text" id="reg_username" placeholder="请输入6-12位字母或数字" onKeyUp="value=value.replace(/[\W]/g,'')" maxlength=12 minlength="6">
            </p>
            <p class="lineP">
                <span>密码：</span>
                <input type="password" onKeyUp="value=value.replace(/[\W]/g,'')" id="reg_password" placeholder="请输入8-14位数字或字母" maxlength=14 minlength=8><br>
            </p>
            <p class="lineP">
                <span>确认密码：</span>
                <input type="password" onKeyUp="value=value.replace(/[\W]/g,'')" id="reg_repassword" placeholder="请输入8-14位数字或字母" maxlength=14 minlength=8><br>
            </p>
            <p class="lineP">
                <span>昵称：</span>
                <input type="text" id="reg_nickname"  maxlength=6  placeholder="请输入6位以下昵称"><br>
            </p>
            <p class="lineP">
                <span>邮箱：</span>
                <input type="text" id="reg_email" placeholder="请输入正确的邮箱"><br>
            </p>
            <p style="margin-bottom: 10%" class="lineP">
                <span>年龄：</span>
                <input type="text" id="reg_age" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" placeholder="请输入正确的年龄" maxlength=3><br>
            </p>
            <div id="reg_btn" class="index_Btn">
			    提交
		    </div>
            <div id="return_btn" class="index_Btn">
			    返回
		    </div>
        </div>
	</div>
	<canvas id="canvas">
	</canvas>
	<audio src={% static 'music/bg_music.mp3' %} id="Bgplayer" loop="loop">
	</audio>
	<audio src={% static 'music/1.wav' %} id="PPplayer">
	</audio>
</body>
</html>