{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>捕鱼达人</title>
    <link rel="stylesheet" href={% static 'css/style.css' %}>
    <script src={% static 'js/commons.js' %}></script>
    <script src={% static 'js/CreateFish.js' %}></script>
    <script src={% static 'js/CreateBullet.js' %}></script>
    <script src={% static 'js/CreateCannon.js' %}></script>
    <script src={% static 'js/CreateCoin.js' %}></script>
    <script src={% static 'js/controller.js' %}></script>
</head>
<body>
<input type="hidden" class="music_num" value="{% static 'music/2.wav' %}">
<input type="hidden" class="music_num" value="{% static 'music/3.wav' %}">
<input type="hidden" class="music_num" value="{% static 'music/1.wav' %}">
	<div id="begin_Page">
		<img src={% static 'img/title.png' %} alt="" class="title">
		<div class="tips">
			<p>游戏指南:</p>
			点击屏幕发射炮弹,左键退化炮台,右键强化炮台,上键加金币,越强的炮台所消耗的金币越多.
		</div>
		<div id="begin_Btn">
			开&nbsp;&nbsp;始&nbsp;&nbsp;游&nbsp;&nbsp;戏
		</div>
	</div>
	<canvas id="canvas" width="800" height="600">
	</canvas>
	<audio src={% static 'music/bg_music.mp3' %} id="Bgplayer" loop="loop">
	</audio>
	<audio src={% static 'music/1.wav' %} id="PPplayer">
	</audio>
</body>
</html>