{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>捕鱼达人</title>
    <link rel="stylesheet" href={% static 'css/style.css' %}>
    <script>
        post_url = "{% url 'login_url' %}";
        score_url = "{% url 'score_url' %}";
    </script>
    <script src={% static 'js/jquery-2.1.4.min.js' %}></script>
    <script src={% static 'js/game/styleset.js' %}></script>
    <script src={% static 'js/game/commons.js' %}></script>
    <script src={% static 'js/game/CreateFish.js' %}></script>
    <script src={% static 'js/game/CreateBullet.js' %}></script>
    <script src={% static 'js/game/CreateCannon.js' %}></script>
    <script src={% static 'js/game/CreateCoin.js' %}></script>
    <script src={% static 'js/game/controller.js' %}></script>
</head>
<body>
<input type="hidden" class="music_num" value="{% static 'music/2.wav' %}">
<input type="hidden" class="music_num" value="{% static 'music/3.wav' %}">
<input type="hidden" class="music_num" value="{% static 'music/1.wav' %}">
    {% if logined_user %}
            <input type="hidden" class="is_logined" value="{{ logined_user }}">
    {% endif %}
	<div id="begin_Page">
		<img src={% static 'img/title.png' %} alt="" class="title">
        <div class="login_block">
            <p class="lineP">
                <span>用户名：</span>
                <input type="text" id="username" placeholder="请输入用户名">
            </p>
            <p style="margin-bottom: 10%" class="lineP">
                <span>密码：</span>
                <input type="password" id="password" placeholder="请输入密码"><br>
            </p>
            <div id="login_btn" class="index_Btn" style="margin-bottom: 5%">
			    登录
		    </div>
            <div id="reg_btn" class="index_Btn">
			    注册
		    </div>
        </div>
        <div class="logined_block">
            <div id="rank_btn" class="index_Btn">
			    游戏榜单
		    </div>
		    <div id="begin_Btn" class="index_Btn">
			    开&nbsp;&nbsp;始&nbsp;&nbsp;游&nbsp;&nbsp;戏
		    </div>
            <div id="logout_btn" class="index_Btn">
			    注销
		    </div>
        </div>
	</div>
	<canvas id="canvas">
	</canvas>
	<audio src={% static 'music/bg_music.mp3' %} id="Bgplayer" loop="loop">
	</audio>
	<audio src={% static 'music/1.wav' %} id="PPplayer">
	</audio>
</body>
</html>